<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Graduation Day</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <div class="background"></div>

  <div class="overlay">
    <header>
      <img src="/static/uploads/Office.png" alt="College Logo" class="logo" />
      <h1 class="college-name">GOBI ARTS & SCIENCE COLLEGE</h1>
      <hr class="divider">
      <h2 class="sub-title">GRADUATION PHOTO DOWNLOAD PORTAL</h2>
    </header>

    <main class="button-wrapper">
      <a class="main-button" href="/instruction">GO TO NEXT PAGE >></a>
    </main>
  </div>

  <div class="social-links">
    <h3>🌐 Connect With Us:</h3>
    <a href="https://youtube.com/@gobiartslive9871" target="_blank" class="youtube">YouTube</a>
    <a href="https://www.linkedin.com/in/gobi-arts-and-science-college-304b3a273" target="_blank" class="linkedin">LinkedIn</a>
    <a href="https://www.instagram.com/gobiartsandsciencecollege" target="_blank" class="instagram">Instagram</a>
    <a href="https://www.facebook.com/share/1CS2Cfqth4/" target="_blank" class="facebook">Facebook</a>
    <a href="https://x.com/GASCgobi36" target="_blank" class="x">X</a>
  </div>
</body>
</html>
